<header>

            <div class="search">

                <i class="fa-solid fa-magnifying-glass"></i>

                <input type="text" placeholder="Search...">

            </div>

            <div class="header-right">

                <i class="fa-regular fa-bell"></i>

                <i class="fa-regular fa-envelope"></i>

                <div class="profile">

                    <img src="https://i.pravatar.cc/60?img=15" alt="Perfil">

                    <div>

                        <h4>Ramona F.</h4>

                        <span>Level 12</span>

                    </div>

                </div>

            </div>

</header>