     <!-- ================= RIGHT SIDEBAR ================= -->

    <aside class="right-sidebar">

        <button class="add">

            <i class="fa-solid fa-plus"></i>

        </button>

        <div class="avatars">

            <img src="https://i.pravatar.cc/60?img=5" alt="Amigo 1">

            <img src="https://i.pravatar.cc/60?img=11" alt="Amigo 2">

            <img src="https://i.pravatar.cc/60?img=23" alt="Amigo 3">

            <img src="https://i.pravatar.cc/60?img=31" alt="Amigo 4">

            <img src="https://i.pravatar.cc/60?img=45" alt="Amigo 5">

            <img src="https://i.pravatar.cc/60?img=50" alt="Amigo 6">

        </div>

    </aside>