{% extends "base.html" %}

{% block title %}
    Livros
{% endblock %}

{% block content %}

<div class="list-container">

    <div class="list-header">
        <h1>Lista de Livros</h1>

        <a href="{% url 'core:home' %}" class="btn-home">
            ← Voltar para página principal
        </a>
    </div>

    <div class="list-card">

        {% if livros %}

            <table class="data-table">

                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Editora</th>
                        <th>Data de lançamento</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody>

                    {% for livro in livros %}

                        <tr>
                            <td>{{ livro.titulo }}</td>
                            <td>{{ livro.editora }}</td>
                            <td>{{ livro.data_lancamento }}</td>

                            <td>
                                <a href="{% url 'detalhes_livro' livro.id %}" class="btn-detail">
                                    Ver detalhes
                                </a>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        {% else %}

            <p>Nenhum livro cadastrado.</p>

        {% endif %}

    </div>

</div>

{% endblock %}